header {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  box-shadow: 0px 3px 6px 0 #0000001f;
  font-size: 14px;
}

header select, 
#language{
color: #7E7E7E;
}

#lang {
  height: 32px;
  width: 112px;
  border: 1px solid #909090;
  border-radius: 3px;
  appearance: none;
  margin: 24px;
}

#logo-img {
  width: 46px;
  height: 46px;
  margin: 18px 107px 15px;
}

#organization-btn {
  display: block;
  width: 118px;
  height: 32px;
  background-color: #77779D;
  color: white;
  border-radius: 3px;
  border: none;
  margin: 24px;
  margin-left: 0px;
}

#container-lang-org {
  display: flex;
  flex-direction: row;
}