/* Circles */

/* Default sky circle */

.configurator {
  margin: 1em auto;
  width: 60%;
  display: flex;
}
.circle {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background-color: #CDDBE5;
}
/* Default blue dot inside sky circle */
.circle:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #6991B2;
  left: 20px;
  top: 20px;
  border-radius: 100%;
}

.circle-current {
  background-color:#95A3AD;
}

.circle-current:before {
  background-color: white;
}
/* lidht line between circles */
.line {
  position: relative;
  width: 98px;
  height: 2px;
  background-color: #F1F9FF;
  top: 22px;
}
/* Container for 3 circles */
.step-circles {
  margin:auto;
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  width: 334px;
}
/* Container for "steps" labels (step1/step2/step3) */
.step-description {
  display: flex;
  justify-content: space-between;
  margin:auto;
  margin-top: 11px;
  color: #848C93;
  font-size: 10px;
  font-weight: bold; 
  width: 359px;
  text-align: center;
}
