* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

html, body, #root{
  height: 100%;
  width: 100%;
}

section, main, header, aside{
  display: block;
}

/* Utility classes */
.big-text{
  font-size: 24px;
}
.medium-text{
  font-size: 18px;
}